let mapleader=" "

set easymotion
set surround
set showmode
set showcmd
set hlsearch
set incsearch
set noerrorbells
set novisualbell
"set vb t_vb=""
"set pythonthreedll=python36.dll
set visualbell t_vb=
set noundofile
set nobackup
set noswapfile

"Custome key mappings
nnoremap <leader>f :action ReformatCode<CR><esc>

nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <leader>gs :action GotoSuperMethod<CR>
nnoremap <Leader>u  :action ShowUsages<CR>
nnoremap <Leader>oi :action OptimizeImports<CR>
"nnoremap <Leader>gb :action Back<CR>
nmap <Leader>gb <Action>(Back)
nnoremap <Leader>fw :action Forward<CR>
"折叠代码块
nnoremap <Leader>zf :action CollapseBlock<CR>
"展开折叠用idea默认的快捷键 <Ctrl+=> 或者展开所有的<Ctrl+Shift+=>

nnoremap <Leader>l <esc>:tabnext<CR>
nnoremap <Leader>h <esc>:tabprevious<CR>
nnoremap <c-j> 5j
nnoremap <c-k> 5k
nnoremap <c-h> 5h
nnoremap <c-l> 5l



