"Executing actions:
"  * :action {action_id}
"   * Execute an action by {action_id}. Works from Ex command line.
"  * <Action>({action_id})
"   * For the mappings you can use a special <Action> keyword. Don't forget the parentheses.
"   * E.g. map gh <Action>(ShowErrorDescription) <- execute hover on gh.
"   * ⚠️ Mappings to <Action> don't work with noremap
"
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" 需要安装插件
" ideavim
" Ideavim-EasyMotion
" IdeaVimExtension 
" which-key
" CodeGlance Pro
" TranslateAction


let mapleader=" "

set showmode
set showcmd
set hlsearch
set incsearch
set noerrorbells
set novisualbell
set which-key
set timeoutlen=5000
 set keep-english-in-normal
"Plug start
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'
Plug 'chrisbra/matchit'

Plug 'tpope/vim-surround'
"vim surround 模拟  
"1. 选中内容周围添加引号，可以在visual 模式下面 先选中内容，然后按下 S"

Plug 'terryma/vim-multiple-cursors'

">
"        <count>ai         (A)n (I)ndentation level and line above.
"        <count>ii         (I)nner (I)ndentation level (no line above).
"        <count>aI         (A)n (I)ndentation level and lines above/below.
"        <count>iI         (I)nner (I)ndentation level (no lines above/below).
"<

Plug 'vim-indent-object'

"Comment stuff out.  Then uncomment it later.  Relies on 'commentstring' to be
"correctly set, or uses b:commentary_format if it is set.

"Assign b:commentary_startofline to insert comment characters at column 1
"regardless of indentation.

""                                                *gc*
"gc{motion}              Comment or uncomment lines that {motion} moves over.

""                                                *gcc*
"gcc                     Comment or uncomment [count] lines.

""                                                *v_gc*
""{Visual}gc              Comment or uncomment the highlighted lines.

                                                ""*o_gc*
"gc                      Text object for a comment (operator pending mode
""                        only.)
"
                                                ""*gcgc* *gcu*
"gcgc                    Uncomment the current and adjacent commented lines.
"gcu
                                                "*:Commentary*
"":[range]Commentary      Comment or uncomment [range] lines

"The |User| CommentaryPost autocommand fires after a successful operation and
"can be used for advanced customization.

 "vim:tw=78:et:ft=help:norl:
Plug 'vim-commentary'


"Plug end
"set vb t_vb=""
"set pythonthreedll=python36.dll
set visualbell t_vb=
set noundofile
set nobackup
set noswapfile
set vim-paragraph-motion

"Custome key mappings

nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <leader>gs :action GotoSuperMethod<CR>
nnoremap <Leader>u  :action ShowUsages<CR>
nnoremap <Leader>oi :action OptimizeImports<CR>
"nnoremap <Leader>gb :action Back<CR>
nmap <Leader>gb <Action>(Back)
nnoremap <Leader>fw :action Forward<CR>
nnoremap <Leader>fn <esc>:NERDTreeToggle<CR>
nnoremap <Leader>fr :action ReformatCode<CR><esc>
"折叠代码块
nnoremap <Leader>zf :action CollapseBlock<CR>
"展开折叠用idea默认的快捷键 <Ctrl+=> 或者展开所有的<Ctrl+Shift+=>
"PreviousTab
"NextTab
"nnoremap <Leader>l <esc>:tabnext<CR>
"nnoremap <Leader>h <esc>:tabprevious<CR>
nmap <Leader>l <Action>(NextTab)
nmap <Leader>h <Action>(PreviousTab)
nnoremap <c-j> 5j
nnoremap <c-k> 5k
nnoremap <c-h> 5h
nnoremap <c-l> 5l

nnoremap <Leader><Leader>r :action Run<CR>
nnoremap <Leader><Leader>d :action Debug<CR>

"重构相关的快捷键，必须选中的情况下才能触发
vnoremap <Leader><Leader>m :action ExtractMethod<CR>
vnoremap <Leader><Leader>i :action Inline<CR>
vnoremap <Leader><Leader>v :action IntroduceVariable<CR>
vnoremap <Leader><Leader>f :action IntroduceField<CR>
vnoremap <Leader><Leader>c :action IntroduceConstant<CR>
vnoremap <Leader><Leader>p :action IntroduceParameter<CR>
vnoremap <Leader><Leader>P :action IntroduceFunctionalParameter<CR>
"vnoremap <Leader><Leader>r :action RenameElement<CR><ESC>gh
vnoremap <Leader><Leader>r <ESC>:action RenameElement<CR>
"其他的快捷键
"
 nnoremap <Leader>db :action ActivateDatabaseToolWindow<CR>



